# copie este arquivo para .env e preencha os valores PS: A .env não ficará dentro dessa pasta, crie ela no computador que for executar
# o script, é um formato de validação para evitar perca do pendrive 

GUID_PADRAO=coloque_aqui_o_UniqueId_do_pendrive