# copie este arquivo para .env e preencha os valores PS: A .env não ficará dentro dessa pasta, crie ela no computador que for executar
# o script, é um formato de validação para evitar perca do pendrive 
# em caso de perca, basta alterar as chaves de acesso que aqui estão e o script irá parar de rodar

GUID_PADRAO=coloque_aqui_o_UniqueId_do_pendrive
IP_PADRAO=coloque_aqui_o_ip_para_envio_do_relatorio
PASTA_COMPARTILHADA=coloque_aqui_o_nome_da_pasta_compartilhada